In [45]:
# задание 1
a = 23
b = 34.02
c = "python is cool "
d = "you are cool, too"

# конкатенировать можно, например, числа 
concat = a + b
print(concat)
# или можно конкатенировать строки 
concat_1 = c + d
print(concat_1)
# а вот число со строкой конкатенировать нельзя, выдаёт ошибку 
concat_2 = a + c
print(concat_2)

57.02
python is cool you are cool, too

TypeError: ignored

In [56]:
# умножать можно числа дру на друга
proizv = a * b
print(proizv)
# или можно умножить текст на число, но только на ЦЕЛОЕ (если на дробное, например, на b, то выдаст ошибку)
proizv1 = a * c
print(proizv1)

782.46
python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool python is cool

In [54]:
# вычитать можно число из числа 
minus = a-b
print(minus)
# число из текста или текст из числа вычесть нельзя
# текст из текста вычесть тоже нельзя

-11.020000000000003

In [60]:
# задание 2 - Придумайте такую строку (на любом знакомом Вам языке),чтобы она состояла из трех других
# - вероятно, можем использовать конкатенацию или умножение. начнём с последнего 

str = 'я хочу освоить python! '
proizv_str = str * 3
print(proizv_str)

# ну, а теперь конкатенация 
str1 = "я хочу "
str2 = "освоить "
str3 = "питон!"
summa123 = str1 + str2 + str3
print(summa123)

я хочу освоить python! я хочу освоить python! я хочу освоить python!
я хочу освоить питон!

In [107]:
# задание 3 - Как из слова "апельсин" сделать слово "спаниель" ?
text1 = "спаниель"
text2 = "апельсин"
# c - это пятый символ; па - это нулевой и первый с обратным шагом; ни - это последний и предпоследний с обратным шагом; ель - это второй, третий и четвертый 
text1 = text2[5] + text2[1::-1] + text2[:5:-1] + text2[2:5]
print(text1)

спаниель

In [125]:
# задание 4 - элементы в переменной text преобразуйте в нижний регистр, а затем запишите наоборот, с последнего элемента по первый

text = "WOW, NOEL SEES LEON"
# решение
text1 = text.lower()
print(text.lower())

text2 = text1[20::-1]
print(text2)
# но всё равно почему-то до конца не переворачивает... Анастасия, помогите, пожалуйста :))) мой ник в телеге @AnastasiiaIvanenko

wow, noel sees leon
noel sees leon ,wow